<?xml version='1.0' encoding='utf-8'?>
<widget id="app.basso.axion" version="1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>AXION</name>
    <description></description>
    <author email="devteam@webFactory.com" href="http://devTeam.com">
        WebFactory DevTeam
    </author>

    <!-- PREFERENCES/CONFIGS -->
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="5000" />
    <!--<preference name="LoadingDialog" value="Cargando aplicación, por favor espere..."/>-->
    <preference name="permissions"                value="none"/>
    <preference name="orientation"                value="all" />       <!-- all: default means both landscape and portrait are enabled -->
    <preference name="fullscreen"                 value="false" />           <!-- all: hides the status bar at the top of the screen -->
    <preference name="webviewbounce"              value="false"/>
    <preference name="UIWebViewBounce"            value="false" />
    <preference name="DisallowOverscroll"         value="true" />
    <preference name="prerendered-icon"           value="true" />           <!-- ios: if icon is prerendered, iOS will not apply it's gloss to the app's icon on the user's home screen -->
    <preference name="stay-in-webview"            value="true" />          <!-- ios: external links should open in the default browser, 'true' would use the webview the app lives in -->
    <preference name="ios-statusbarstyle"         value="black-translucent" /> <!-- black-translucent   ios: black-translucent will appear black because the PhoneGap webview doesn't go beneath the status bar -->
    <preference name="detect-data-types"          value="true" />           <!-- ios: controls whether data types (such as phone no. and dates) are automatically turned into links by the system -->
    <preference name="exit-on-suspend"            value="true" />          <!-- ios: if set to true, app will terminate when home button is pressed -->
    <preference name="ShowSplashScreenSpinner" value="true" />
    <preference name="show-splash-screen-spinner" value="true"/>
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="SuppressesIncrementalRendering" value="true"/>

    <!-- SPLASH SCREEN IMAGE -->

    <!-- PLUGINS -->
    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="org.apache.cordova.inappbrowser" version="0.5.2" />
    <gap:plugin name="org.apache.cordova.dialogs" />
    <gap:plugin name="com.moust.cordova.videoplayer" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="org.apache.cordova.splashscreen" />

    <gap:config-file platform="ios" parent="UIStatusBarHidden">
        <true/>
    </gap:config-file>


    <content src="index.html" />
    <access origin="*" />

    <!-- ICON -->
    <icon src="img/axion-ico.png" />

</widget>
